<table>
  <tbody>
    <% item_comments.each do |item_comment| %>
    <tr>
      <td>
        <%= link_to user_path(item_comment.user) do %>
          <%= image_tag item_comment.user.get_profile_image, size: "50x50" %><br>
          <%= item_comment.user.name %>さん
        <% end %>
      </td>
      <td><%= item_comment.comment %></td>
      <td>
        <% if item_comment.user == current_user %>
          <%= link_to "削除", item_item_comment_path(item_comment.item, item_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>