<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3 mt-3 box">
      <h3 class="text-center border-bottom border-white pt-2">プロフィール詳細編集</h3>

    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :profile_image, "プロフィール写真" %>
          <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
        </div>
        <div class="row">
        <div class="col-6 form-group">
          <%= f.label :age, "年代", class: "control-label" %>
          <%= f.select :age, [["",""], ["10代"], ["20代"], ["30代"], ["40代"], ["50代"], ["60代"], ["70代"], ["80代以上"] ], {}, class: "form-control" %>
        </div>
        <div class="col-6 form-group">
          <%= f.label :sex, "性別", class:'control-label' %>
          <%= f.select :sex, [["",""], ["女性"], ["男性"]], {}, class: "form-control" %>
        </div>
        </div>
        <div class="form-group">
          <%= f.label :address, "地域（県や市など）" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "自己紹介" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "更新する", class: "btn btn-secondary rounded-pill" %>
        </div>
    <% end %>
    </div>
  </div>
</div>

