<div class="container-field">
  <div class="row mt-5 offset-2">
    <div class="col-lg-5 box">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white"><%= @user.name %>さんのプロフィール</h3></div>
        <%= render 'users/info', user: @user %>
  　</div>
    <div class="col-lg-5 box">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white"><%= @user.name %>さんの投稿一覧</h3></div>
          <div>
            <% if @items.present? %>
              <%= paginate @items %>
              <%= link_to '新しい順', user_path(@user.id,latest: "true") %>|
              <%= link_to '古い順', user_path(@user.id,old: "true") %>
            <% end %>
          </div>
          <%= render 'items/index',items: @items %>
      </div>
    </div>
</div>