<div class="container">
  <div class="row mt-5">
    <% if @user.is_deleted? %>
      <div class="col-lg-8 offset-lg-2 mt-3 p-3 text-center box">このユーザーは退会済みです</div>
    <% else %>
    <div class="col-lg-4 mt-3 box">
      <div class="sidebar_fixed">
        <h3 class="text-center border-bottom border-white pt-2"><%= @user.name %>さんのプロフィール</h3>
        <%= render 'users/info', user: @user %>
      </div>
    </div>
    <div class="col-lg-6 offset-lg-1 mt-3 box">
      <h3 class="text-center border-bottom border-white pt-2"><%= @user.name %>さんの投稿一覧</h3>
      <% if @items.present? %>
        <%= link_to "新しい順", user_path(@user.id,latest: "true") %>|
        <%= link_to "古い順", user_path(@user.id,old: "true") %>
      <% end %>
      <%= render 'items/index',items: @items %>
      <%= paginate @items %>
    </div>
    <% end %>
  </div>
</div>