<section class="animations">
  <div class="info mt-5 pt-2 pb-2 text-center">
    <p class="text-center"><i class="fas fa-running"></i><i class="fas fa-door-open"></i> いらっしゃいませ</p>
    <p>【new_match】はコンビニ新商品好きが集まったコミュニティサイトです<p>
    <p>新商品を紹介し合って自分好みの商品とMATCHさせましょう！！！<p>
    <p>まずはゲストログインでお試しください<p>
  </div>
  <div class="slider">
    <%= link_to items_path do %>
      <img src="<%= asset_path('pan.jpg') %>" alt="" />
    <% end %>
    <%= link_to new_item_path do %>
      <img src="<%= asset_path('pan.jpg') %>" alt="" />
    <% end %>
    <%= link_to user_path(current_user.id) do %>
      <img src="<%= asset_path('pan.jpg') %>" alt="" />
    <% end %>
    <%= link_to likes_user_path(current_user.id) do %>
      <img src="<%= asset_path('pan.jpg') %>" alt="" />
    <% end %>

  </div>
</section>

    <!--<div><a href=""><img src="<%#= asset_path('nikuman.jpg') %>" alt="" /></div>-->
    <!--<div><a href=""><img src="<%#= asset_path('oden.jpg') %>" alt="" /></div>-->
    <!--<div><a href=""><img src="<%#= asset_path('bento.jpg') %>" alt="" /></div>-->
    <!--<div><a href=""><img src="<%#= asset_path('make.jpg') %>" alt="" /></div>-->