<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3 mt-3 box">
      <% if @model == 'item' || @model == 'tag' %>
        <h3 class="text-center border-bottom border-white pt-2">検索ワード"<%= @content %>"</h3>
        <% if @records.count == 0 %>
          <h4 class="text-center">検索ワードがヒットしませんでした。</h4>
        <% else %>
          <%= render 'items/index', items: @records %>
          <%= paginate @records %>
        <% end %>
      <% elsif @model == 'user' %>
        <h3 class="text-center border-bottom border-white pt-2">検索ワード "<%= @content %>"</h3>
        <% if @records.count == 0 %>
          <h4 class="text-center">検索ワードがヒットしませんでした。</h4>
        <% else %>
          <%= render 'users/index', users: @records %>
          <%= paginate @records %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
