<% if @model == 'items' %>
  <h3>【Itemsモデルの検索結果】検索ワード：<%= @content %></h3>
  <%#= render 'users/index', users: @records %>
  <% @items.each do |item| %>
    <%= item.user.name %>
    <%= item.name %>
    <%= item.introduction %>
  <% end %>
<% else @model == 'users' %>
  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>
    <%#= render 'posts/index', posts: @records %>
    <% @users.each do |user| %>
      <%= user.name %>
    <% end %>
<% end %>