<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">新規投稿フォーム</h5>
      <%= form_with model:item do |f| %>
        <div class="form-group">
          <%= f.label :商品画像 %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
        </div>
        <div class="form-group">
          <%= f.label :商品名 %>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
        <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-store"></i></span>
            </div>
              <%= f.text_field :shop_name, class:"form-control", placeholder:"コンビニ名" %>
        </div>
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-pencil-alt"></i></span>
            </div>
              <%= f.text_area :introduction, class:"form-control", rows:"3", placeholder:"コメントここに" %>
    <h4>タグ</h4>
    <%= f.text_field :tag_name %>

      <% if f.object.new_record? %>
        <%= f.submit '新規投稿' %>
      <% else %>
        <%= f.submit '更新する' %>
      <% end %>
<% end %>
