<div>*は入力必須です</div>
<%= form_with model:item do |f| %>
  <div class="form-group mb-3 mt-4">
    <%= f.label :image, "投稿画像" %>
    <%= f.file_field :image, accept: "image/*", class: "w-100" %>
  </div>
  <div class="form-group mb-3 mt-4">
    <%= f.label :name, "商品名 *" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group mb-3 mt-4">
    <%= f.label :shop_name, "コンビニ名 *" %>
    <%= f.text_field :shop_name, class:"form-control" %>
  </div>
  <div class="form-group mb-3 mt-4">
    <%= f.label :introduction, "商品紹介文 *" %>
    <%= f.text_area :introduction, class:"form-control", rows:"3", placeholder:"商品の紹介や感想をコチラへ" %>
  </div>
  <div class="form-group mb-3 mt-4">
    <%= f.label :tag_name, "タグ(,で複数登録できます)" %>
    <%= f.text_field :tag_name, class:"form-control", placeholder:"例:スイーツ,コラボ" %>
  </div>
  <div class="form-group text-center">
    <% if f.object.new_record? %>
      <%= f.submit '投稿する', class: "btn btn-secondary rounded-pill" %>
    <% else %>
      <%= f.submit '更新する', class: "btn btn-success rounded-pill" %>
    <% end %>
  </div>
<% end %>