<% items.each do |item| %>
  <div class="card m-2">
    <div class="card-image">
      <%= link_to item_path(item) do %>
        <%= image_tag item.get_image, size:'50x50' %>
      <% end %>
    </div>
    <%= item.name %>
    <div id="like_buttons_<%= item.id %>">
      <%= render 'likes/like', item: item %></div>
      コメント件数：<%= item.item_comments.count %><br>
      <%= link_to user_path(item.user) do %>
      <%= item.user.name %><% end %><%= l item.created_at %>
      <%= link_to "詳細を確認", item_path(item) %>
  </div>
<% end %>
