<% items.each do |item| %>
<table class="table text-center table-borderless">
  <tr class="border-top">
    <td>
      <%= link_to item_path(item) do %>
        <%= image_tag item.get_image, class: "image-post" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>商品名:<%= item.name %></td>
  </tr>
  <tr>
    <td><div id="like_buttons_<%= item.id %>">
      <%= render 'likes/btn', item: item %></div></td>
  </tr>
  <tr>
    <td>タグ:<% item.tags.each do |tag| %>
             <%= tag.name %><% end %>
  </tr>
  <tr>
    <td><%= link_to "詳細を確認", item_path(item), class: "btn btn-primary" %></td>
  </tr>
</table>
<% end %>


