<% items.each do |item| %>
<table class="table text-center">
  <tr>
    <td>
      <%= link_to item_path(item) do %>
        <%= image_tag item.get_image, class: "image-post" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>商品名:<%= item.name %></td>
  </tr>
  <tr>
    <td class="table-borderless"><div id="like_buttons_<%= item.id %>">
      <%= render 'likes/like', item: item %></div>コメント件数：<%= item.item_comments.count %><br></td>
  </tr>
  <tr>
    <td>タグ:<% item.tags.each do |tag| %>
             <%= tag.name %><% end %>
  </tr>
  <tr>
    <td><%= link_to "詳細を確認", item_path(item), class: "btn btn-primary" %></td>
  </tr>
</table>
<% end %>


