<div class='container-fluid'>
  <div class="row p-3">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-2 mx-sm-auto shadow-lg rounded" style="background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);">
      <div class="text-center pt-2">
        <h3 class="text-black border border-white">投稿一覧</h3>
      </div>
      <%= render 'page', items: @items %>
      <%= render 'index', items: @items %>
    </div>
  </div>
</div>

<% @tags.each do |tag| %>
<%= link_to search_path(model: "tag", method: "perfect", content: tag.name) do %>
<%= tag.name %>
<%="(#{tag.items.count})" %>
<% end %>
<% end %>