<div class="container-field">
  <div class="row mt-5">
    <div class="col-lg-3 m-3 taglist">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white">タグリスト (件数)</h3>
      </div>
      <%= render 'searches/tag_list',tags: @tags %>
    </div>
      <div class="col-lg-5 m-3 box">
        <div class="text-center pt-2">
          <h3 class="text-black border-bottom border-white">商品投稿一覧</h3>
        </div>
        <div>
          <% if @items.present? %>
            <%= paginate @items %>
            <%= link_to '新しい順', items_path(latest: "true") %>|
            <%= link_to '古い順', items_path(old: "true") %>
          <% end %>
        </div>
        <%= render 'index', items: @items %>
      </div>
  </div>
</div>
