<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4 mt-3 taglist">
      <div class="sidebar_fixed">
        <h3 class="text-center border-bottom border-white pt-2">
          <i class="fas fa-tag"></i>タグリスト (件数)</h3>
        <%= render 'searches/tag_list',tags: @tags,user: @user%>
      </div>
    </div>
    <div class="col-lg-6 offset-lg-1 mt-3 box">
      <h3 class="text-center border-bottom border-white pt-2">投稿一覧</h3>
      <% if @items.present? %>
        <%= link_to '新しい順', items_path(latest: "true") %> |
        <%= link_to '古い順', items_path(old: "true") %>
      <% end %>
      <%= render 'index', items: @items %>
      <%= paginate @items %>
    </div>
  </div>
</div>
