<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-2 mx-sm-auto shadow-lg rounded box">
      <div class="text-center pt-2">
        <h3 class="text-black border-bottom border-white">商品情報詳細</h3>
      </div>

      <table class="table">
        <% if @item.user_id == current_user.id %>
        <tr>
          <tr class="table-borderless">
              <%= link_to "編集", edit_item_path(@item), class: "btn btn-success"%>
              <%= link_to "削除", @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
        <tr class="table-borderless">
          <td><%= link_to user_path(@item.user) do %>
            <b><%= @item.user.name %></b>さん<% end %><%= @item.user.age %><%= @item.user.sex %></td>
          <td colspan="2"><%= l @item.created_at %></td>
        </tr>
        <tr class="text-center">
          <td colspan="3"><%= image_tag @item.get_image, class: "image-post" %></td>
        </tr>
        <tr>
          <td>商品名</td>
          <td colspan="2"><%= @item.name %></td>
        <tr>
          <td>コンビニ名</td>
          <td colspan="2"><%= @item.shop_name %></td>
        </tr>
        <tr>
          <td>商品について</td>
          <td colspan="2"><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td colspan="2"><% @item.tags.each do |tag| %>
            <span><%= link_to items_path(tag_id: tag.id) do %>#<%= tag.name %><% end %></span>
              <% if @item.user_id == current_user.id %>
                <%= link_to item_item_tag_path(@item, tag.item_tags.find_by(item_id: @item.id)), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="text-right">
        <div id="like_buttons_<%= @item.id %>">
          <%= render 'likes/btn', item: @item %></div>
      </div>
      <div id="comments_index">
        <h5>コメント：<%= @item.item_comments.count %> 件</h5>
        <%= render 'item_comments/index', item_comments: @item_comments %></div>
      <div id="comments_form">
      <%= render 'item_comments/form', item: @item, item_comment: @item_comment %></div>
    </div>
  </div>
</div>