<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h3><%= @user.name %>さんのステータス編集</h3>
      <%= form_with model: [:admin, @user] do |f| %>
      <%= render 'layouts/errors', obj: @user %>
        <div class="form-group mt-5">
          <%= f.label "会員ステータス", class: "control-label"%>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効", value: false %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会", value: true %>
        </div>
        <div class="text-right">
          <%= f.submit "変更を保存", class: "btn btn-success rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>