<header class="image_tag">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container ">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg', size: "150x50" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="my-auto pr-5 mr-5 text-light">
            <b>管理者アカウント</b>でログインしています。</li>
          <li class="mx-4"><%= link_to "投稿一覧", admin_items_path, class: "btn btn-outline-light" %></li>
          <li class="mx-4"><%= link_to "会員一覧", admin_root_path, class: "btn btn-outline-light" %></li>
          <li class="mx-4"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light" %></li>

        <% elsif user_signed_in? %>
          <li class="my-auto pr-5 mr-5 text-light">
            ようこそ、<%= current_user.name %>さん！</li>
          <li>
            <%= link_to new_item_path, class: 'nav-link text-light' do %>
              <i class="fas fa-pencil-ruler"></i> 投稿する
            <% end %></li>
          <li>
            <%= link_to items_path, class: 'nav-link text-light' do %>
              <i class="far fa-eye"></i> 新商品チェック
            <% end %></li>
          <li>
            <% if unchecked_notifications.any? %>
              <li><%= link_to notifications_path, class: "btn btn-light" do %>
                <i class="fas fa-bell"></i><i class="fas fa-exclamation"></i><% end %></li>
            <% else %>
              <li><%= link_to notifications_path, class: "btn btn-light" do %>
                <i class="fas fa-bell"></i><% end %></li>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              メニュー</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "ホーム", root_path, class: 'dropdown-item' %></a>
                <%= link_to "サイトについて", about_path, class: 'dropdown-item' %></a>
                <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item' %></a>
                <%= link_to "いいねリスト", likes_user_path(current_user.id), class: 'dropdown-item' %></a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></a>
                <%= link_to "退会はコチラ", users_quit_path, class: 'dropdown-item' %></a>
              </div>
          </li>
        <% else %>
          <li>
           <%= link_to users_guest_sign_in_path, class: "btn btn-outline-dark text-white", method: :post do %>
              <i class="fas fa-walking"></i><i class="fas fa-sign-in-alt"></i> ゲストログイン（閲覧用）
            <% end %></li>
          <li>
          <li>
            <%= link_to about_path, class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> アバウト
            <% end %></li>
          <li>
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> ホーム
            <% end %></li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %></li>
          <li>
            <%= link_to new_user_session_path , class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>